extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Employee Type', url: '/employeeType'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteEmployeeType',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editEmployeeType',
      title: 'employeeType Information',
      fields: [
        {name: 'nip', label: 'Nip', type: 'text', value: data.nip},
        {name: 'nama', label: 'Nama Pegawai', type: 'text', value: data.nama},
        {name: 'alamat', label: 'alamat', type: 'text', value: data.alamat},
        {name: 'status', label: 'Status', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList