extends ../layout

block breadcrumb
  +breadcrumb('Employee Type', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "EmployeeType",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new EmployeeType", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addEmployeeType",
      title: "Create EmployeeType",
      form: {
        url: "/employeeType",
        fields: [
            { name: "EmployeeId", label: "employee", type: "select", placeholder: "Select Type", settings: {remote: {url: "/employee/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'nama', value: [':_id']}}},
            { name: "nip", label: "Nip", placeholder: "ex. 12", validate:'empty', required:true},
            { name: "nama", label: "Nama Pegawai", placeholder: "ex. Ilham", validate:'empty', required:true},
            { name: "alamat", label: "Alamat", placeholder: "ex. bandung", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
