extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Employee', url: '/employee'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteEmployee',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editEmployee',
      title: 'Employee Information',
      fields: [
        {name: 'nip', label: 'Nip', type: 'text', value: data.nip},
        {name: 'nama', label: 'Nama Pegawai ', type: 'text', value: data.nama},
        {name: 'alamat', label: 'Alamat Pegawai', type: 'text', value: data.alamat},
        {name: 'status', label: 'Status Pegawai', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "EmployeeType",
      title: "Employee Type",
      filterable: true,
      columns: [
        {label: "Nama Pegawai", name: "nama", link: "view", filter: {type: 'text'}},
        {label: "Alamat Pegawai", name: "alamat"},
        {label: "Enabled", name: "enabled", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.employeeType,
      buttons: {
        add: {label: "Add EmployeeType", className: "openAddEmployeeType"},
        delete: {label: "Remove employee Types from this employee", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table

  -
    var labelSettings = {
      key: "labelEmployeeType",
      title: "Employee Type",
      definition: { title: 'nip', content: 'nip', link:'view' },
      data: data.employeeType,
      action: {
        remove: { link: 'delete', label: "Remove Employee Type"},
        add: { label: "Assign Employee Type"}
      },
      modal : {
        key: "addEmployeeType",
        title: "Assign Employee Type",
        form: {
          url: data.links.addEmployeeType.url,
          fields: [
            { name: "EmployeeId", type: "hidden", value: data._id },
            { name: "nip", label: "Nip", placeholder: "ex. 1240809", validate:'empty', required:true},
            { name: "nama", label: "Name Pegawai", placeholder: "ex. Ilham Budug Njing", validate:'empty', required:true},
            { name: "alamat", label: "Alamat Pegawai", placeholder: "ex. jl.susukan", validate:'empty', required:true}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addEmployeeType2",
      title: "Create EmployeeType",
      form: {
        url: "/employeeType",
        fields: [
           { name: "EmployeeId", type: "hidden", value: data._id },
            { name: "nip", label: "Nip", placeholder: "ex. 1240809", validate:'empty', required:true},
            { name: "nama", label: "Name Pegawai", placeholder: "ex. Ilham Budug Njing", validate:'empty', required:true},
            { name: "alamat", label: "Alamat Pegawai", placeholder: "ex. jl.susukan", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddEmployeeType"
      }
    }
  include ../component/new/modalForm