extends ../layout

block breadcrumb
  +breadcrumb('Employee', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Employee",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Employee", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addUser",
      title: "Create employee",
      form: {
        url: "/employee",
        fields: [
            { name: "nip", label: "Nip", placeholder: "ex. no induk pegawai", validate:'empty', required:true},
            { name: "nama", label: "Nama ngaran", placeholder: "ex. ngaran kamu", validate:'empty', required:true},
            { name: "alamat", label: "alamat kamuh", placeholder: "ex. asusu", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
