extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Dokter', url: '/dokter'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteDokter',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editDokter',
      title: 'Dokter Information',
      fields: [
        {name: 'nip', label: 'Nip', type: 'text', value: data.nip},
        {name: 'nama', label: 'Nama Dokter ', type: 'text', value: data.nama},
        {name: 'ttl', label: 'Tangal Lahir Dokter', type: 'text', value: data.ttl},
        {name: 'jabatan', label: 'Jabatan Dokter', type: 'text', value: data.jabatan},
        {name: 'alamat', label: 'Alamat Dokter', type: 'text', value: data.alamat},
        {name: 'status', label: 'Status Dokter', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "DokterType",
      title: "Dokter Type",
      filterable: true,
      columns: [
        {label: "Nama Dokter", name: "nama", link: "view", filter: {type: 'text'}},
        {label: "Alamat Dokter", name: "alamat"},
        {label: "Enabled", name: "enabled", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.DokterType,
      buttons: {
        add: {label: "Add DokterType", className: "openAddDokterType"},
        delete: {label: "Remove Dokter Types from this Dokter", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table

  -
    var labelSettings = {
      key: "labelDokterType",
      title: "Dokter Type",
      definition: { title: 'nip', content: 'nip', link:'view' },
      data: data.DokterType,
      action: {
        remove: { link: 'delete', label: "Remove Dokter Type"},
        add: { label: "Assign Dokter Type"}
      },
      modal : {
        key: "addDokterType",
        title: "Assign Dokter Type",
        form: {
          url: data.links.addDokterType.url,
          fields: [
            { name: "DokterId", type: "hidden", value: data._id },
            { name: "nip", label: "Nip", placeholder: "ex. 1240809", validate:'empty', required:true},
            { name: "nama", label: "Name Dokter", placeholder: "ex. Ilham Budug Njing", validate:'empty', required:true},
            { name: "ttl", label: "Tanggal Lahir Dokter", placeholder: "ex. Bandung 21-07-2001", validate:'empty', required:true},
            { name: "jabatan", label: "Jabatan Dokter", placeholder: "ex. V III", validate:'empty', required:true},
            { name: "alamat", label: "Alamat Dokter", placeholder: "ex. jl.susukan", validate:'empty', required:true}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addDokterType2",
      title: "Create DokterType",
      form: {
        url: "/dokterType",
        fields: [
           { name: "DokterId", type: "hidden", value: data._id },
            { name: "nip", label: "Nip", placeholder: "ex. 1240809", validate:'empty', required:true},
            { name: "nama", label: "Name Dokter", placeholder: "ex. Ilham Budug Njing", validate:'empty', required:true},
            { name: "ttl", label: "Tanggal Lahir Dokter", placeholder: "ex. Bandung 21-07-2001", validate:'empty', required:true},
            { name: "jabatan", label: "Jabatan Dokter", placeholder: "ex. V III", validate:'empty', required:true},
            { name: "alamat", label: "Alamat Dokter", placeholder: "ex. jl.susukan", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddDokterType"
      }
    }
  include ../component/new/modalForm