extends ../layout

block breadcrumb
  +breadcrumb('Dokter', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Dokter",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Dokter", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addDokter",
      title: "Create Dokter",
      form: {
        url: "/dokter",
        fields: [
            { name: "nip", label: "Nip", placeholder: "ex. no induk pegawai", validate:'empty', required:true},
            { name: "nama", label: "Nama Dokter", placeholder: "ex. nama dokter", validate:'empty', required:true},
            { name: "ttl", label: "Tanggal Lahir", placeholder: "ex. tanggal lahir dokter", validate:'empty', required:true},
            { name: "jabatan", label: "Jabatan dokter", placeholder: "ex. jabatan dokter", validate:'empty', required:true},
            { name: "alamat", label: "alamat kamuh", placeholder: "ex. asusu", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
