div.ui.modal.transition(id=modal.key+"Modal")
  div.header= modal.title
  div.content
    if(modal.search)
      h4 #{(modal.numbering ? "1. " : "") + modal.search.caption}
      form.ui.form(id=modal.key+"SearchForm" name=modal.key+"SearchForm" method="GET")
        div.inline.fields
          if(modal.search.form.fields)
            each submitFormField in modal.search.form.fields
              if(submitFormField.type==='hidden')
                input(type="hidden" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modal.key+"SearchFormInput"+submitFormField.name) value=(submitFormField.value ? submitFormField.value : ""))
              else if(submitFormField.type==='select')
                div.field
                  label= submitFormField.label
                  select.ui.dropdown(name=submitFormField.name)
                    each item in submitFormField.options
                      option(value=item.value)= item.label ? item.label : item.value
              else if(submitFormField.type==='checkbox')
                div.field
                  div.ui.toggle.checkbox
                    input.notVisible(type="checkbox" tabindex="0" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modal.key+"SearchFormInput"+submitFormField.name))
                    label= submitFormField.label
              else
                div.field
                  label= submitFormField.label
                  input(type="text" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modal.key+"SearchFormInput"+submitFormField.name) value=(submitFormField.value ? submitFormField.value : ""))
            div.one.wide.field
              button.circular.ui.tiny.icon.button(data-tooltip="Search")
                i.ui.icon.zoom
          else
            if(modal.search.form.selectField)
              div.four.wide.field
                select.ui.dropdown(id=modal.key+"SearchSelectField" name=modal.search.form.selectField.name)
                  each item in modal.search.form.selectField.options
                    option(value=item.value)= item.label
              div.eleven.wide.field
                input(id=modal.search.form.textField.id type="text" name=modal.search.form.textField.name placeholder=modal.search.form.textField.info)
              div.one.wide.field
                button.circular.ui.tiny.icon.button(data-tooltip="Search")
                  i.ui.icon.zoom
            else
              div.four.wide.field
                div.ui.transparent.input
                  input(type="text" readonly="" value=modal.search.form.textField.label)
              div.eleven.wide.field
                input(id=modal.search.form.textField.id type="text" name=modal.search.form.textField.name placeholder=modal.search.form.textField.info)
              div.one.wide.field
                button.circular.ui.tiny.icon.button(data-tooltip="Search")
                  i.ui.icon.zoom
      div(style="height: 10px")
      div.ui.divider
    if(modal.result)
      h4 #{(modal.numbering ? "2. " : "") + modal.result.caption}
      div.ui.secondary.aligned.center.segment
        div.ui.dimmer
          div.ui.text.loader
            Loading
        div(id=modal.key+"SearchResult")
          p #{modal.result.message.blank}
      div(style="height: 10px")
      div.ui.divider
    if(modal.feedback)
      h4 #{(modal.numbering ? "3. " : "") + modal.feedback.caption}
      form.ui.form(id=modal.key+"FeedbackForm")
        div.inline.fields
          each resultDetailField in modal.feedback.fields
            div.field
              label= resultDetailField.label
              if(resultDetailField.type)
                div.ui.input
                  if(resultDetailField.type === "select")
                    div.four.wide.field
                      select.ui.dropdown(id=id=modal.key+"FeedbackFormInput"+resultDetailField.name)
                        each item in resultDetailField.options
                          option(value=item.value)= item.label
                  else
                    input(name=resultDetailField.name type="text" value=resultDetailField.value id=modal.key+"FeedbackFormInput"+resultDetailField.name)
              else
                div.ui.input.disabled
                  input(name=resultDetailField.name type="text" readonly="" value=resultDetailField.value id=modal.key+"FeedbackFormInput"+resultDetailField.name)
    if(modal.submitForm)
      form(id=modal.key+"Form" action=modal.submitForm.url method=(modal.submitForm.method ? modal.submitForm.method : "POST"))
        each submitFormField in modal.submitForm.fields
          input(type="hidden" name=submitFormField.name value=submitFormField.value id=modal.key+"SubmitFormInput"+submitFormField.name value-from=(submitFormField.fromFeedback ? modal.key+"FeedbackFormInput"+submitFormField.name:''))
  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modal.key+"FormButton")= modal.submitForm.button.label


  -
    functionScript = "";
    modal.feedback.fields.forEach(function(item, index){
      if(item.linkedTo){
        functionScript += '$("#' + modal.key + 'FeedbackFormInput' + item.name+ '").on("change", function (event) { document.getElementById("' + modal.key + 'SubmitFormInput' + item.linkedTo+ '").setAttribute("value", this.value); });'
      }
    });

    if(modal.triggerClassName) {
      functionScript +=
        '$("#'+ modal.key +'Modal").modal("attach events", ".'+ modal.triggerClassName +'", "show");';
    }

  -
    var returnSection = ""
    if (modal.returned)
      returnSection =
              "const returnedDataIndex = " + JSON.stringify(modal.returned.dataIndex).replace(/<\//g, '<\\/') +";\n" +
              "const returnedFieldNames = " + JSON.stringify(modal.returned.names).replace(/<\//g, '<\\/') +";\n" +
              "const returnedFieldLabel = " + JSON.stringify(modal.returned.labelFormat).replace(/<\//g, '<\\/') +";\n";

    var feedbackSection = ""
    if (modal.feedback)
      feedbackSection =
              "const resultDetailFields = "+JSON.stringify(modal.feedback.fields).replace(/<\//g, '<\\/')+";\n" +
              "const feedbackForm = document.getElementById('"+modal.key+"FeedbackForm');";

    var searchSection = ""
    if (modal.search)
      searchSection =
        '$("#'+modal.key+'SearchForm").on("submit", function (event) {\n'+
        '  event.preventDefault();\n' +
        '  const searchUrl = ' + JSON.stringify(modal.search.form.url).replace(/<\//g, '<\\/') + ';\n' +
        '  let form = this;\n' +
        '  let url = "";\n' +
        '  searchUrl.forEach(function(item, index){\n' +
        '    if(item.startsWith(":")){\n' +
        '      url += form[item.substring(1)].value\n' +
        '    } else{\n' +
        '      url += item;\n' +
        '    }\n' +
        '  });\n' +
        '  sendGet({\n' +
        '    url: url,\n' +
        '    done: function (status, data, responseText, defaultDone) {\n' +
        '        addNodeConnectionSearchResult.empty();\n' +
        '        let dataObj = data;\n' +
        '        if(returnedDataIndex) {\n' +
        '          dataObj = data[returnedDataIndex];\n' +
        '        }\n' +

        '        dataObj.forEach(function(item, data){\n' +
        '            let generatedElement = \u0027<a class="ui basic label"\u0027;\n' +

        '            returnedFieldNames.forEach(function(returnedName, returnedNameIndex){\n' +
        '                generatedElement += \u0027 data-result-\u0027 + returnedName + \u0027="\u0027+item[returnedName]+\u0027"\u0027;\n' +
        '            });\n' +
        '            generatedElement += ">";\n' +

        '            returnedFieldLabel.forEach(function(format, formatIndex){\n' +
        '              if(format.startsWith(":")){\n' +
        '                generatedElement += item[format.substring(1)]\n' +
        '              } else{\n' +
        '                generatedElement += format;\n' +
        '              }\n' +
        '            });\n' +

        '            generatedElement += "</a>";\n' +

        '            addNodeConnectionSearchResult.append(generatedElement);\n' +
        '        });\n' +
        '    },\n' +
        '    fail: function(status, data, responseText, defaultFail){\n' +
        '        addNodeConnectionSearchResult.empty();\n' +
        '        addNodeConnectionSearchResult.append(\u0027<div class="ui tertiary inverted red segment"><p>Data is not found.</p></div>\u0027);\n' +
        '    }\n' +
        '  });\n' +
        '});';


script.
  $(document).ready(function () {
      const submitForm = document.getElementById("!{modal.key}Form");

      const addNodeConnectionSearchResult = $("#!{modal.key}SearchResult");

      !{returnSection}

      !{searchSection}

      const submitFormFields = !{JSON.stringify(modal.submitForm.fields).replace(/<\//g, '<\\/')};
      !{feedbackSection}

      addNodeConnectionSearchResult.on("click", "a", function (event) {
          const thisTag = this;
          submitFormFields.forEach(function(item, index){
              if(item.valueFormat){
                  let value = "";
                  item.valueFormat.forEach(function(valueFormat, valueFormatIndex){
                    if(valueFormat.startsWith(":")){
                      value += thisTag.getAttribute("data-result-"+valueFormat.substring(1));
                    } else{
                      value += valueFormat;
                    }
                  });
                submitForm[item.name].setAttribute("value", value);
              }
          });

          resultDetailFields.forEach(function(item, index){
              if(item.valueFormat){
                  let value = "";
                  item.valueFormat.forEach(function(valueFormat, valueFormatIndex){
                    if(valueFormat.startsWith(":")){
                      value += thisTag.getAttribute("data-result-"+valueFormat.substring(1));
                    } else{
                      value += valueFormat;
                    }
                  });
                  feedbackForm[item.name].setAttribute("value", value);
              }
          });
      });

      $("#!{modal.key}FormButton").on("click", function (event) {
        const form = document.forms["!{modal.key}Form"];

        let i;
        for (i = 0; i < form.length ;i++) {
            let item = form.elements[i];
            if(item.getAttribute("value-from"))
              item.value = document.getElementById(item.getAttribute("value-from")).value;
        }

        send(form.getAttribute("method").toUpperCase(), {
          url: form.action,
          data: $(form).serialize(),
          done: function(status, data, defaultFunction) {
            window.location = "!{modal.submitForm.redirectUrl}";
          },
        });
      });

      $("#!{modal.key}FeedbackForm").on("submit", function (event) {
        event.preventDefault();
      });

      !{functionScript}
  });