form.ui.form(id=detailView.key + "Form")
  h3.ui.dividing.header Node Information
  each item, index in detailView.hiddenFields
    input(name=item.name class=detailView.key + "Input" type="hidden" value=item.value)
  each fieldRows, index in detailView.fields
    div(class=(fieldRows.length > 1 ? numberToWords.toWords(fieldRows.length) : '')+ " fields")
      each field, fieldIndex in fieldRows
        div(class="field " + (fieldRows.length > 1 ? '' : 'sixteen wide'))
          label= field.label
          input(name=field.name class=detailView.key + "Input" type="text" readonly="" placeholder="Empty" value=field.value)

if detailView.edit
  div(style="height:10px")
  div(style="float: right")
    button.ui.tiny.orange.icon.button(id=detailView.key + "EditButton" data-tooltip=(detailView.edit.button.edit.info? detailView.edit.button.edit.info: detailView.edit.button.edit.label))= detailView.edit.button.edit.label
    button.ui.tiny.green.icon.disabled.button(id=detailView.key + "SaveButton" data-tooltip=(detailView.edit.button.save.info? detailView.edit.button.save.info: detailView.edit.button.save.label))= detailView.edit.button.save.label

div(style="clear:both")

script.
  $("!{"#" + detailView.key + "EditButton"}").on("click", function (event) {
    if($("!{"#" + detailView.key + "EditButton"}").hasClass("editing")) {
      $("!{"#" + detailView.key + "SaveButton"}").addClass("disabled");
      $("!{"#" + detailView.key + "EditButton"}").text("!{detailView.edit.button.edit.label}");
      $("!{"#" + detailView.key + "EditButton"}").removeClass("editing");
      $("!{"#" + detailView.key + "EditButton"}").attr("data-tooltip", "!{(detailView.edit.button.edit.info? detailView.edit.button.edit.info: detailView.edit.button.edit.label)}");
      $("!{"." + detailView.key + "Input"}").attr("readonly", "");
    } else {
      $("!{"#" + detailView.key + "EditButton"}").addClass("editing");
      $("!{"#" + detailView.key + "SaveButton"}").removeClass("disabled");
      $("!{"#" + detailView.key + "EditButton"}").text("Cancel Editing");
      $("!{"#" + detailView.key + "EditButton"}").attr("data-tooltip", "Cancel Editing");
      $("!{"." + detailView.key + "Input"}").removeAttr("readonly");
    }
  });

  $("!{"#" + detailView.key + "Form"}").on("submit", function (event) {
    event.preventDefault();
    sendPut({
      url: "!{detailView.edit ? detailView.edit.url : '/'}",
      data: objectifyForm($("#!{detailView.key + "Form"}").serializeArray()),
    });
  });

  $("!{"#" + detailView.key + "SaveButton"}").on("click", function (event) {
    sendPut({
      url: "!{detailView.edit ? detailView.edit.url : '/'}",
      data: objectifyForm($("#!{detailView.key + "Form"}").serializeArray()),
    });
  });

