div.ui.modal.transition(id=modalForm.key + "Modal")
  div.header= modalForm.title
  div.content
    form.ui.form(id=modalForm.key + "Form" action=modalForm.form.url method=modalForm.form.method?modalForm.form.method:"POST")
      each submitFormField in modalForm.form.fields
        if(submitFormField.type==='hidden')
          input(type="hidden" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modalForm.key+"FormInput"+submitFormField.name) value=(submitFormField.value ? submitFormField.value : ""))
        else if(submitFormField.type==='select')
          div.field
            label= submitFormField.label
            select.ui.dropdown(name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modalForm.key+"FormInput"+submitFormField.name))
              each item in submitFormField.options
                option(value=item.value)= item.label ? item.label : item.value
        else if(submitFormField.type==='checkbox')
          div.field
            div.ui.toggle.checkbox
              input.notVisible(type="checkbox" tabindex="0" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modalForm.key+"FormInput"+submitFormField.name))
              label= submitFormField.label
        else
          div.field
            label= submitFormField.label
            input(type="text" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : modalForm.key+"FormInput"+submitFormField.name) value=(submitFormField.value ? submitFormField.value : "") placeholder=(submitFormField.placeholder?submitFormField.placeholder:""))
  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modalForm.key + "SubmitButton")= modalForm.form.buttonLabel

-
  var functionScript = '';
  if(modalForm.triggerClassName) {
    functionScript +=
      '$("#'+ modalForm.key +'Modal").modal("attach events", ".'+ modalForm.triggerClassName +'", "show");\n' +
      '$(".'+ modalForm.triggerClassName +'").on("click", function (event) {\n' +
         'const thisTag = this;\n' +
         'injectFieldValue.forEach(function(item, index){\n' +
           'document.getElementById(item.fieldId).setAttribute("value", thisTag.getAttribute(item.fieldValue));\n' +
         '});\n' +
       '});\n';
  }

script.
  $(document).ready(function () {
      const injectFieldValue = !{JSON.stringify(modalForm.injectFieldValue).replace(/<\//g, '<\\/')};

      !{functionScript}

      $("#!{modalForm.key}SubmitButton").on("click", function (event) {
        const form = $("#!{modalForm.key}Form");
        const formMethod = form.attr("method");
        if(formMethod.toUpperCase() === "POST"){
          sendPost({
            url: form.attr("action"),
            data: form.serialize(),
          });
        } else if(formMethod.toUpperCase() === "PUT"){
           sendPut({
             url: form.attr("action"),
             data: form.serialize(),
           });
         }

      });

      $("#!{modalForm.key}Form").on("submit", function (event) {
        event.preventDefault();
        const form = $("#!{modalForm.key}Form");
        const formMethod = form.attr("method");
        if(formMethod.toUpperCase() === "POST"){
          sendPost({
            url: form.attr("action"),
            data: form.serialize(),
          });
        } else if(formMethod.toUpperCase() === "PUT"){
           sendPut({
             url: form.attr("action"),
             data: form.serialize(),
           });
         }

      });


  });