div.ui.modal.transition(id=modal.key+"Modal")
  div.header= modal.title
  div.content
    form.ui.form(id=modal.key+"SearchForm" name=modal.key+"SearchForm" method="GET")
      div.inline.fields
        each submitFormField in modal.search.form.fields
          if(submitFormField.type==='hidden')
            input(type="hidden" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : "") value=(submitFormField.value ? submitFormField.value : ""))
          else if(submitFormField.type==='select')
            div.field
              label= submitFormField.label
              select.ui.dropdown(name=submitFormField.name)
                each item in submitFormField.options
                  option(value=item.value)= item.label ? item.label : item.value
          else if(submitFormField.type==='checkbox')
            div.field
              div.ui.toggle.checkbox
                input.notVisible(type="checkbox" tabindex="0" name=submitFormField.name id="test")
                label= submitFormField.label
          else
            div.field
              label= submitFormField.label
              input(type="text" name=submitFormField.name id=(submitFormField.id ? submitFormField.id : "") value=(submitFormField.value ? submitFormField.value : ""), placeholder=submitFormField.info)
        div.one.wide.field
          button.circular.ui.tiny.icon.button(data-tooltip="Search")
            i.ui.icon.zoom
    div(style="height: 10px")
    div.ui.divider
    h4 #{modal.result.caption}
    div.ui.secondary.aligned.center.segment
      div.ui.dimmer
        div.ui.text.loader
          Loading
      div(id=modal.key+"SearchResult")
        p #{modal.result.message.blank}
    div(style="height: 10px")
    div.ui.divider
  div.actions
    div.ui.black.deny.button Close


-
  var functionScript = '';
  if(modal.triggerClassName) {
    functionScript +=
      '$("#'+ modal.key +'Modal").modal("attach events", ".'+ modal.triggerClassName +'", "show");';
  }

script.
  $(document).ready(function () {
      !{functionScript}

      const submitForm = document.getElementById("!{modal.key}Form");

      const addNodeConnectionSearchResult = $("#!{modal.key}SearchResult");
      const returnedDataIndex = !{JSON.stringify(modal.returned.dataIndex).replace(/<\//g, '<\\/')};
      const returnedFieldNames = !{JSON.stringify(modal.returned.names).replace(/<\//g, '<\\/')};
      const returnedFieldLabel = !{JSON.stringify(modal.returned.labelFormat).replace(/<\//g, '<\\/')};

      $("#!{modal.key}SearchForm").on("submit", function (event) {
          event.preventDefault();
          const searchUrl = !{JSON.stringify(modal.search.form.url).replace(/<\//g, '<\\/')};
          let form = this;
          let url = "";
          searchUrl.forEach(function(item, index){
            if(item.startsWith(":")){
              url += form[item.substring(1)].value
            } else{
              url += item;
            }
          });
          $.get(url, function (data) {
              addNodeConnectionSearchResult.empty();
              let dataObj = data;
              if(returnedDataIndex) {
                dataObj = data[returnedDataIndex];
              }

              dataObj.forEach(function(item, data){
                  let generatedElement = '<a class="ui basic label"';

                  returnedFieldNames.forEach(function(returnedName, returnedNameIndex){
                      generatedElement += ' data-result-' + returnedName + '="'+item[returnedName]+'"';
                  });
                  generatedElement += '>';

                  returnedFieldLabel.forEach(function(format, formatIndex){
                    if(format.startsWith(":")){
                      generatedElement += item[format.substring(1)]
                    } else{
                      generatedElement += format;
                    }
                  });

                  generatedElement += '</a>';

                  addNodeConnectionSearchResult.append(generatedElement);
              });

          })
          .fail(function(error){
              addNodeConnectionSearchResult.empty();
              addNodeConnectionSearchResult.append('<div class="ui tertiary inverted red segment"><p>Data is not found.</p></div>');
          });
      });

  });