div(style="float: right")
  button.ui.tiny.left.labeled.red.icon.button(id=actionTab.key+"DeleteButton" data-tooltip=actionTab.delete.label) <i class="remove icon"></i> Delete
div(style="clear: both; height: 50px")

script.
  $(document).ready(function () {
    $('#!{actionTab.key}DeleteButton').on("click", function (event) {
      if (confirm("Are you sure?") == true) {
        sendDelete({
          url: "!{actionTab.delete.url}",
        });
      }
     });
  });