.leaflet-control-coordinates {
  padding: 6px 8px;
  font: 12px/14px Lato, Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.leaflet-control-coordinates, .leaflet-control-coordinates .uiElement input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px
}

.leaflet-control-coordinates .uiElement {
  margin: 4px
}

.leaflet-control-coordinates .uiElement .labelFirst {
  margin-right: 4px
}

.leaflet-control-coordinates .uiHidden {
  display: none
}

.leaflet-control-coordinates .uiElement.label {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  display: inherit
}