extends ../layout

block breadcrumb
  +breadcrumb(data.name, {text: 'Home', url: '/'}, {text: 'Kamar', url: '/kamar'})

block script
  script.
    function deleteCallback(element, data) {
      if (confirm("Are you sure?") == true) {
        sendDelete ({
          url: data.links[element.getAttribute("link")].url,
          done: function(){
            window.location.reload();
          }
        });
      }
    }

block content
  -
    const actionTab  = {
      key: 'deleteKamar',
      delete: {
        url: data.links.delete.url,
        info: 'Delete this service',
        label: 'Delete this service',
      }
    }
  include ../component/removeButton

  -
    let detailView = {
      key: 'editKamar',
      title: 'Kamar Information',
      fields: [
        {name: 'noKamar', label: 'No Kamar', type: 'text', value: data.noKamar},
        {name: 'noKamar', label: 'Nama Kamar', type: 'text', value: data.noKamar},
        {name: 'kelas', label: 'Kelas', type: 'text', value: data.kelas},
        {name: 'status', label: 'Status Pegawai', type: 'select', value: data.status, action:data.links.patch, settings: {options: [{label: "ACTIVE", value: "ACTIVE"}, {label: "INACTIVE", value: "INACTIVE"}]}},
      ],
      actions: {
        edit: {
          url: data.links.edit.url,
          label: 'Edit service information',
        }
      }
    }
  include ../component/new/fieldList

  -
    tableSettings = {
      key: "KamarType",
      title: "Kamar Type",
      filterable: true,
      columns: [
        {label: "Nama Kamar", name: "noKamar", link: "view", filter: {type: 'text'}},
        {label: "Kelas", name: "kelas"},
        {label: "Enabled", name: "enabled", type: "boolean", filter: {type: 'text'}},
      ],
      data: data.kamarType,
      buttons: {
        add: {label: "Add KamarType", className: "openAddKamarType"},
        delete: {label: "Remove kamar Types from this kamar", link: "delete", callback: "deleteCallback"}
      }
    }
  include ../component/new/table

  -
    var labelSettings = {
      key: "labelKamarType",
      title: "Kamar Type",
      definition: { title: 'noKamar', content: 'noKamar', link:'view' },
      data: data.kamarType,
      action: {
        remove: { link: 'delete', label: "Remove Kamar Type"},
        add: { label: "Assign Kamar Type"}
      },
      modal : {
        key: "addKamarType",
        title: "Assign Kamar Type",
        form: {
          url: data.links.addKamarType.url,
          fields: [
            { name: "KamarId", type: "hidden", value: data._id },
            { name: "noKamar", label: "No Kamar", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "namaKamar", label: "Nama Kamar", placeholder: "ex. Ilahm", validate:'empty', required:true},
            { name: "kelas", label: "Kelas", type: "select", value: data.jkel, action:data.links.patch, settings: {options: [{label: "1", value: "1"}, {label: "2", value: "2"}, {label: "3", value: "3"}]} required:true}
        ],
          callback: {
            onSuccess: function() {
              window.location.reload();
            }
          }
        }
      }
    }
  include ../component/new/labels

  -
    modalForm = {
      key: "addKamarType2",
      title: "Create KamarType",
      form: {
        url: "/kamarType",
        fields: [
           { name: "KamarId", type: "hidden", value: data._id },
            { name: "noKamar", label: "No Kamar", placeholder: "ex. 1240809", validate:'empty', required:true},
            { name: "namaKamar", label: "Name Pegawai", placeholder: "ex. Ilham Budug Njing", validate:'empty', required:true},
            { name: "kelas", label: "Alamat Pegawai", placeholder: "ex. jl.susukan", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddKamarType"
      }
    }
  include ../component/new/modalForm