extends ../layout

block breadcrumb
  +breadcrumb('Kamar', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "Kamar",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new Kamar", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addUser",
      title: "Create kamar",
      form: {
        url: "/kamar",
        fields: [
            { name: "noKamar", label: "No Kamar", placeholder: "ex. 001", validate:'empty', required:true},
            { name: "namaKamar", label: "Nama Kamar", placeholder: "ex. nama Kamar", validate:'empty', required:true},
            { name: "kelas", label: "kelas",  placeholder: "ex. 1", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
