extends ../layout

block breadcrumb
  +breadcrumb('Dokter Type', {text: 'Home', url: '/'})

block content
  -
    const tableSettings = {
      key: "EmployeeType",
      columns: dataStructure,
      filterable: true,
      data: {
        url: links.data.url,
        method: links.data.method,
        cached: true
      },
      buttons: {
        add: {label: "Create a new DokterType", className: "openAddModal"},
      }
    }
  include ../component/new/table

  -
    const modalForm = {
      key: "addDokterType",
      title: "Create DokterType",
      form: {
        url: "/dokterType",
        fields: [
            { name: "DokterId", label: "dokter", type: "select", placeholder: "Select Type", settings: {remote: {url: "/dokter/data", method: "GET"}, resultMapping: { dataIndex: 'data', label: 'nama', value: [':_id']}}},
            { name: "nip", label: "Nip", placeholder: "ex. 12", validate:'empty', required:true},
            { name: "nama", label: "Nama Lengkap dokter", placeholder: "ex. Ilham", validate:'empty', required:true},
            { name: "j_sakit", label: "j_sakit", placeholder: "ex. j_sakit", validate:'empty', required:true},
            { name: "alamat", label: "Alamat", placeholder: "ex. bandung", validate:'empty', required:true}
        ]
      },
      trigger: {
        className: "openAddModal"
      }
    }
  include ../component/new/modalForm
