if detailView.title
  h3.ui.header= detailView.title
.ui.form(id=detailView.key + 'Form')
  .ui.divider
  each field, index in detailView.fields
    if field.type && field.type !== 'hidden'
      div(class='inline fields '+ detailView.key + 'Field', style={'align-items': 'start'})
        .four.wide.field
          label !{field.label}
            if field.type !== 'readonly'
              i(style='margin-left: 10px' class='orange circular inverted pencil alternate icon notVisible pointing ' + (field.editable? 'editable ':'') + detailView.key +'Marker'+ field.type data-form-name=field.name)
        .twelve.wide.field
          if field.link
            if field.type === 'list'
              button.ui.tiny.icon.button.notVisible
                i.checkmark.icon
              if field.value && field.value.length > 0
                each item in field.value
                  a(href=item.links[field.link].url)= item[field.valueKey]
            if field.type === 'object' && field.value[0]
              button.ui.tiny.icon.button.notVisible
                i.checkmark.icon
              a(href=field.value[0].links[field.link].url)= field.value[0][field.valueKey]
            else
              .ui.tiny.left.action.transparent.input
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                a(href=field.link)= field.value
          else
            .ui.tiny.left.action.transparent.input
              if(field.type === 'readonly')
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                if field.multiline
                  .ui.item !{field.value}
                else
                  input(type='text' readonly='' placeholder='Empty' value=field.value data-content='non-editable value')
              else if field.type === 'select' && field.settings && field.settings.multiple
                button.ui.tiny.icon.button.notVisible
                  i.checkmark.icon
                if field.value && field.value.length > 0
                  each item in field.value
                    .ui.basic.label
                      span= item
                else
                  input(type='text' readonly='' placeholder='Empty')
              else
                button(id=detailView.key +'SaveButton'+ field.name class='ui tiny icon button notVisible '+ detailView.key +'SaveButton' data-form-name=field.name data-tooltip='Save') <i class='checkmark icon'></i>
                input(id=detailView.key +'Input'+ field.name class=detailView.key + 'Input'+field.type name=field.name type='text' readonly='' placeholder='Empty' value=field.value)
      .ui.divider

if detailView.actions
  div(style='float: right')
    if detailView.actions.custom
      each customButton in detailView.actions.custom
        button(id=customButton.id class='ui tiny left labeled '+ customButton.color +' icon button '+customButton.class data-tooltip=customButton.label url=(customButton.url ? customButton.url : '')) <i class='!{customButton.icon} icon'></i> !{customButton.key}

-
  var functionScript = '';
  if (detailView.actions && detailView.actions.edit) {
    let ajaxBody = "";
    detailView.fields.forEach(function(field, index){
      if(field.type === 'hidden') {
        ajaxBody += 'data["'+ field.name +'"] = "'+ field.value +'";';
      }
    });

    ajaxBody +=
        'sendPut({' +
          'url: "'+ detailView.actions.edit.url +'",' +
          'data: data' +
        '});';

    functionScript +=
      '$(".'+ detailView.key +'SaveButton").on("click", function (event) {' +
        'const fieldName = this.getAttribute("data-form-name");' +
        'const field = document.getElementById("'+ detailView.key +'Input"+ fieldName);' +
        'const data = {};' +
        'data[field.name] = field.value;' +
        ajaxBody +
      '});';

    functionScript +=
      '$(".'+ detailView.key +'Input").on("keypress", function (event) {' +
        'if(event.key !== "Enter") return;' +
        'const data = {};' +
        'data[this.name] = this.value;' +
        ajaxBody +
      '});';
  }

-
  var modalForms = [];
  if (detailView.actions && detailView.actions.edit) {
    detailView.fields.forEach(function(field, index) {
      if(field.type === 'select') {
        modalForms.push({
          key: field.name + 'InputForm',
          title: '',
          form: {
            url: field.action ? field.action.url : detailView.actions.edit.url,
            method: field.action ? field.action.method : 'PUT',
            fields: [
                { name: field.name, label: field.label, placeholder: 'Select ' + field.label, type: 'select', settings: field.settings},
            ],
          },
        });
      }
    })
  }

  if (detailView.actions && detailView.actions.objectEdit) {
    detailView.fields.forEach(function(field, index) {
      if(field.type === 'object' && field.editable && detailView.actions.objectEdit[field.name]) {
        modalForms.push({
          key: field.name + 'InputForm',
          title: '',
          form: {
            url: detailView.actions.objectEdit[field.name].url,
            method: 'PUT',
            fields: [
                { name: field.name, label: field.label, placeholder: 'Select ' + field.label, type: (field.settings.remote.query? 'search' : 'select'), settings: field.settings},
            ],
          },
        });
      }
    })
  }

each modalForm in modalForms
  include ./modalForm

-
  if (detailView.actions && detailView.actions.custom) {
    detailView.actions.custom.forEach(function(item, index) {
      if(item.callback) {
        functionScript +=
          '$("#'+ item.id +'").on("click", function (event) {' +
            item.callback +'(this)' +
          '});';
      }
    });
  }

script.
  $(".!{detailView.key}Input")
    .popup()

  $(".!{detailView.key}Field").on("mouseenter", function() {
      $(this).find(".!{detailView.key}Markerselect").removeClass("notVisible");
      $(this).find(".!{detailView.key}Markertext").removeClass("notVisible");
      $(this).find(".!{detailView.key}Markerobject.editable").removeClass("notVisible");
  });

  $(".!{detailView.key}Field").on("mouseleave", function() {
      $(this).find(".!{detailView.key}Markerselect").addClass("notVisible");
      $(this).find(".!{detailView.key}Markertext").addClass("notVisible");
      $(this).find(".!{detailView.key}Markerobject.editable").addClass("notVisible");
  });

  $(".!{detailView.key}Markertext").on("click", function() {
      const inputName = this.getAttribute("data-form-name");
      const input = $("#!{detailView.key}Input"+ inputName);
      input.removeAttr("readonly").parent().removeClass("transparent");
      $("#!{detailView.key}SaveButton"+ inputName).removeClass("notVisible");
  });

  $(".!{detailView.key}Markerselect").on("click", function() {
      const inputName = this.getAttribute("data-form-name");
      $("#"+ inputName +"InputFormModal").modal("show");
  });

  $(".!{detailView.key}Markerobject").on("click", function() {
    const inputName = this.getAttribute("data-form-name");
    $("#"+ inputName +"InputFormModal").modal("show");
  });

  !{functionScript}
