.ui.basic.segment(style={'margin-top': '70px', 'padding-left': 0, 'padding-right': 0})
  h3.ui.dividing.header= labelSettings.title
  if labelSettings.data.length === 0
    .ui.secondary.center.aligned.segment
      p No Information Available
  else
    - const definition = labelSettings.definition
    - const sortedData = []
    each item in labelSettings.data
      - let title = ''
      if definition.title
        if Array.isArray(definition.title)
          each valueFormat in definition.title
            if valueFormat.startsWith(':')
              - title += item[valueFormat.substring(1)]
            else
              - title += valueFormat
        else
          - title = item[definition.title]
      else
        - title = item[definition.content]
      
      - let content = ''
      if Array.isArray(definition.content)
        each valueFormat in definition.content
          if valueFormat.startsWith(':')
            - content += item[valueFormat.substring(1)]
          else
            - content += valueFormat
      else
        - content = item[definition.content]

      - item.title = title
      - item.content = content
      - sortedData.push(item)
      if item.relationship
        .ui.top.right.attached.mini.grey.label(data-tooltip='Relationship Type')= item.relationship._type
    - sortedData.sort((a, b) => a.content.localeCompare(b.content))

    - let showedItem = 0
    - const limit = labelSettings.limit ? labelSettings.limit : sortedData.length
    each item in sortedData
      - let icon = ''
      if item.relationship
        - icon = item.relationship._startNodeId === parseInt(item.id) ? 'blue left' : 'green right'
      div(class=`ui basic ${item.relationship ? 'icon' : ''} label ${labelSettings.key}Label` style=''+(showedItem > limit ? 'display: none' : ''))
        if item.relationship
          i(class=`${icon} arrow icon`)
        if definition.link
          a(href=item.links[definition.link].url data-tooltip=item.title)= item.content
        else
          span(data-tooltip=item.title)= item.content

        if (labelSettings.action)
          i(class=`delete icon notVisible ${labelSettings.key}RemoveButton` url=item.links[labelSettings.action.remove.link].url)

      - showedItem++

    if(showedItem>limit)
      a.ui.purple.basic.label.viewAllData(data-tooltip=`${showedItem - limit} items are hidden`) View all

if labelSettings.action
  div(style='height:15px')
  div(style='float: right')
    button(class=`ui tiny left labeled orange icon button ${labelSettings.key}EditButton` data-tooltip=labelSettings.action.remove.label) <i class='trash icon'></i>Remove
    button(class=`ui tiny left labeled blue icon button ${labelSettings.key}OpenModalButton` data-tooltip=labelSettings.action.add.label) <i class='plus icon'></i>Add

if labelSettings.modal
  -
    var modalForm= labelSettings.modal
  unless labelSettings.modal.trigger
    - modalForm.trigger = {className: labelSettings.key + 'OpenModalButton'}
    if !modalForm.form.callback
      - modalForm.form.callback = {onSuccess: () => window.location.reload()}
    else if !modalForm.form.callback.onSuccess
      - modalForm.form.callback.onSuccess = () => window.location.reload()

if labelSettings.modal
  include modalForm

script.
  {
    let key = '#{labelSettings.key}'
    let isActionExist = #{labelSettings.action? JSON.stringify(labelSettings.action).length > 0 : false}
    $(document).ready(function() {
      if (isActionExist) {
        $(`.${key}EditButton`).on('click', event => {
          $(`.${key}RemoveButton`).toggleClass('notVisible')
        })

        $(`.${key}RemoveButton`).on('click', function(event) {
          if (confirm('Are you sure?') === true)
            sendDelete({
              url: this.getAttribute('url'),
              done: () => {window.location.reload()}
            })
        })
      }
      
      $('.viewAllData').on('click', event => {
        $(`.${key}Label`).attr('style', '')
        this.remove()
      })
    })
  }
