mixin modalComponent(modal)
  div(class="ui modal transition "+ modal.class id=modal.key +"Modal")
    div.header= modal.title
    block

mixin modalComponentJs(modal)
  -
    var onOpenModalTriggerScript = '';
    if(modal.trigger) {
      onOpenModalTriggerScript +=
        '$("body").on("click", ".'+ modal.trigger.className +'", function (event) {' +
          'const thisTag = this;';

      if(modal.trigger.callback) {
        onOpenModalTriggerScript += modal.trigger.callback +'(this);';
      }

      onOpenModalTriggerScript +=
        '$("#'+ modal.key +'Modal").modal("show")' +
      '});';
    }

  script.
    $(document).ready(function () {
      !{onOpenModalTriggerScript}
    });