- var searchContainer = [];
- var selectContainer = [];
- var multipleInputContainer = [];
- var defaultValues = {};
div.ui.modal.transition(id=modalForm.key + "Modal")
  div.header= modalForm.title
  div.content
    -
      var form = modalForm.form;
      form.key = modalForm.key;
    include form
  div.actions
    div.ui.black.deny.button Cancel
    div.ui.green.button(id=modalForm.key + "SubmitButton")= modalForm.form.buttonLabel ? modalForm.form.buttonLabel : "Submit"

-
  var onOpenModalTriggerScript = '';
  if(modalForm.trigger) {
    onOpenModalTriggerScript +=
      '$("body").on("click", ".'+ modalForm.trigger.className +'", function (event) {' +
        'const thisTag = this;';

    if(modalForm.trigger.callback) {
      onOpenModalTriggerScript += modalForm.trigger.callback +'(this);';
    }

    onOpenModalTriggerScript +=
      '$("#'+ modalForm.key +'Modal").modal("show")' +
    '});';
  }

-
  var clearingFormScript =
      'onHidden: function() {';

   modalForm.form.fields.forEach(function(item, index){
    if(item.type === "search") {
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown("clear");'
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +' .menu").children().remove();'
    } else if(item.type === "select") {
      clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown("clear");'
      if(!(item.settings && (item.settings.options || item.settings.remote)))
        clearingFormScript += '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +' .menu").children().remove();'
    } else if (item) {
      clearingFormScript += 'document.getElementById("'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").value = "'+ defaultValues[item.name] +'";'
    }
  });

  clearingFormScript +=
      '}';

-
  var searchScript = "";
  searchContainer.forEach(function(item, index){
    let resultGenerator = "";
    if(item.settings.resultMapping.value) {
        if(Array.isArray(item.settings.resultMapping.value)){
          resultGenerator +=
            'let realValue = "";' +
            'const format= ' + JSON.stringify(item.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
            'format.forEach(function(valueFormat, valueFormatIndex){' +
              'if(valueFormat.startsWith(":")){' +
                'realValue += value[valueFormat.substring(1)];' +
              '} else{' +
                'realValue += valueFormat;' +
              '}' +
            '});';
        } else {
          resultGenerator += 'const realValue = value["'+ item.settings.resultMapping.value +'"];';
        }
    } else {
      resultGenerator += 'const realValue = value["value"];';
    }
    resultGenerator +=
      'response.results.push({' +
        'text: value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"],' +
        'value: realValue,' +
        'name: ' +(item.settings.resultMapping.info? 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"] + (value["'+ item.settings.resultMapping.info +'"] ? " - "+ value["'+ item.settings.resultMapping.info +'"] : "")' : 'value["'+ (item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"]') +
      '});';


    const limit = item.settings.limit ? item.settings.limit : -1;


    const responseProcessor =
      'const response = {' +
        'results: []' +
      '};' +
      'let results = 0;' +
      'try{' +
        'const serverData = serverResponse'+ (item.settings.resultMapping.dataIndex? '["'+ item.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
        'serverData.forEach((value, key) => {' +
          'if(results === '+ limit +') {' +
            'throw BreakException;' +
          '}' +
          (item.settings.local ? item.settings.local.matcher : '') +
          resultGenerator +
          'results++;' +
        '});' +
      '} catch(e){' +
      '}';

    let searchBodyScript = "";

    if(item.settings.local) {
      // local settings

      const opt = item.settings.local;
      const appender = opt.queryAppender;
      const query = 'settings.urlData.query.toLowerCase()';

      searchBodyScript =
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = '+ (appender ? (appender.prefix ? appender.prefix +'+' : '') + query : query) +';' +
            'const serverResponse = '+ opt.data +';' +
            responseProcessor +
            'callback(response);' +
          '}' +
        '},';
    }

    if(item.settings.remote) {
      // remote settings

      let requestData = "";
      for(var key in item.settings.remote.extraData) {
        if(item.settings.remote.extraData.hasOwnProperty(key)){
          requestData += "&" + key +"="+ item.settings.remote.extraData[key];
        }
      }

      var urlGenerator = "function "+(item.id ? item.id : modalForm.key+"FormInput"+item.name)+"Url(){";
      if (item.settings.remote.urlParam) {
        var url = item.settings.remote.url;
        Object.keys(item.settings.remote.urlParam).forEach(key => {
          var val = item.settings.remote.urlParam[key].replace('_'+key+'_', modalForm.key+"FormInput"+key)
          url = url.replace('{{'+key+'}}', '"+('+val+')+"')
        })
        urlGenerator += 'return "'+url+'";';'';
      }
      urlGenerator += "}\n";

      searchBodyScript =
        (item.callback && item.callback.onSelected ? 'onChange: function(value, text, selectedItem){ '+ item.callback.onSelected +'(value, text, selectedItem) },' : '') +
        'apiSettings: {' +
          'cache: '+ (item.settings && item.settings.cache === true ? 'true' : 'false' ) +',' +
          'responseAsync: (settings, callback) => {' +
            'const query = settings.urlData.query.toLowerCase();' +
            'const requestData = "'+ (requestData ? requestData + '&' : '') + item.settings.remote.query +'=" + query;' +
            'sendGet({' +
              'url: '+(item.settings.remote.urlParam? (item.id ? item.id : modalForm.key+"FormInput"+item.name) + 'Url()' : ('"'+item.settings.remote.url+'"'))+',' +
              'data: requestData,' +
              'dataType: "json",' +
              'done: (status, data, responseText, defaultDone) => {' +
                'const serverResponse = data;' +
                responseProcessor +
                'callback(response)' +
              '},' +
              'fail: (status, data, responseText, defaultFail) => {' +
                'callback({ results: [] });' +
              '}' +
            '})' +
          '}' +
        '},';
    }

    searchScript += (urlGenerator || '') +
      '$("#'+ (item.id ? item.id : modalForm.key+"FormInput"+item.name) +'").dropdown({' +
          'minCharacters: '+ (item.settings && item.settings.minChar ? item.settings.minChar : '1') +',' +
          'selectOnKeydown: false,' +
          searchBodyScript +
      '});';
  });

-
  var selectScript = "";
  selectContainer.forEach(function(item, index){
    if(item.settings) {
      let optionGenarator = "";
      if(item.settings.resultMapping && item.settings.resultMapping.value) {
          if(Array.isArray(item.settings.resultMapping.value)){
            optionGenarator +=
              'let realValue = "";' +
              'const format= ' + JSON.stringify(item.settings.resultMapping.value).replace(/<\//g, '<\\/') +';' +
              'format.forEach(function(valueFormat, valueFormatIndex){' +
                'if(valueFormat.startsWith(":")){' +
                  'realValue += item[valueFormat.substring(1)];' +
                '} else{' +
                  'realValue += valueFormat;' +
                '}' +
              '});';
          } else {
            optionGenarator += 'const realValue = item["'+ item.settings.resultMapping.value +'"];';
          }
      } else {
        optionGenarator += 'const realValue = item["value"];';
      }
      optionGenarator +=
        'options.push({' +
          'name: item["'+ (item.settings.resultMapping && item.settings.resultMapping.label ? item.settings.resultMapping.label : 'label') +'"],' +
          'value: realValue,' +
        '});';


      if(item.settings && item.settings.remote) {
        selectScript +=
          'sendGet({' +
              'url: "'+ item.settings.remote.url +'",' +
              'data: '+ JSON.stringify(item.settings.remote.extraData ? item.settings.remote.extraData : '{}').replace(/<\//g, '<\\/') +',' +
              'done: function(status, serverData, text) {' +
                'if (!serverData) return;' +
                'const options = [];' +
                'const data = serverData'+ (item.settings.resultMapping.dataIndex? '["'+ item.settings.resultMapping.dataIndex +'"]' : '' ) +';' +
                'data.forEach(function(item, index){' +
                  optionGenarator +
                '});' +
                '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown("change values", options);' +
              '},' +
              'fail: function(status, data, text) {' +
                '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown("change values", [{name: "No Option Available", value: ""}]);' +
              '}' +
          '});';
      }
    }

    selectScript +=
      '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown({' +
        'allowReselection: true,' +
        'fullTextSearch: true,' +
      '});';
  });

-
  var multipleInputScript = "";
  multipleInputContainer.forEach(function(item, index){
    multipleInputScript +=
      '$("#'+ (item.id ? item.id : modalForm.key +"FormInput"+ item.name) +'").dropdown({' +
        'allowAdditions: true,' +
      '});';
  });

-
  var formAction =
    'const form = $("#'+ modalForm.key +'Form");' +
    'const formMethod = form.attr("method");' +
    'if(formMethod.toUpperCase() === "POST"){' +
      'sendPost({' +
        'url: form.attr("action"),' +
        'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
      '});' +
    '} else if(formMethod.toUpperCase() === "PUT"){' +
       'sendPut({' +
         'url: form.attr("action"),' +
         'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
       '});' +
    '} else if(formMethod.toUpperCase() === "GET"){' +
       'sendGet({' +
         'url: form.attr("action"),' +
         'data: form.serialize(),' +
        ((modalForm.form.callback && modalForm.form.callback.onSuccess) ? 'done: ' + modalForm.form.callback.onSuccess : '') +
       '});' +
    '};';


// validation rules
-
  var formValidation = '$("#'+modalForm.key+'Form").form({' +
    'fields: {';
each field in modalForm.form.fields
  if field.validate
    - formValidation += field.name + ': ' + JSON.stringify(field.validate) + ','
- formValidation += '}});'

script.
  $(document).ready(function () {
    !{formValidation}

    $("#!{modalForm.key}Modal").modal({
      !{clearingFormScript}
    });

    !{onOpenModalTriggerScript}

    !{searchScript}

    !{selectScript}

    !{multipleInputScript}

    $("#!{modalForm.key}SubmitButton").on("click", function (event) {
      $("#!{modalForm.key}Form").form('validate form')
      if ($("#!{modalForm.key}Form").form('is valid')) {
        !{formAction}
      }
    });

    $("#!{modalForm.key}Form").on("submit", function (event) {
      event.preventDefault();
      !{formAction}
    });
  });