include input

if (tableSettings.title)
  h3.ui.dividing.header= tableSettings.title

table(id=tableSettings.key + "Table" class="ui selectable small compact celled table" style="width: 100%")
  thead
    tr
      th
      each column, index in tableSettings.topColumn
        th= column.label
  tbody
    each columnLeft, index in tableSettings.leftColumn
      tr
        td.collapsing= columnLeft.label
        each field in tableSettings.data[index]
          td
            -
              field.label = ""
              field.value = field.value ? field.value : ""
            if(field.id !== undefined)
              +inputComponent(tableSettings.key, field)
